<div>
  <div class="heading">
      The Nrithya Sangama difference:
  </div>
  
  Nrithya Sangama currently admits students from beginner to advanced levels with a minimum age limit of 5 years.
  The school is known for maintaining the rich traditions of pure classical Bharatanatyam, and bringing out the best in students.
  All students will learn yoga concurrently to support their dancing.
  Students who transfer from other schools will undergo a refresher course in their basic steps (adavus).

  <div class="heading">
  Class Timings </div>
  
  <div class="heading">
  Saturday and Sunday</div>
  
  Advanced : 6PM - 7PM
  
  Intermediate: 5PM - 6PM
  
  Beginner 1 & 2: 2PM - 5PM
  
  Morning Classes for adults will be available on request.

  <div class="heading">
    Beginner - 1
  </div>

    Basic Bharatanatyam dance, adavu techniques, hand gestures, as well as flexibility, strength, and balance exercises, are introduced.


  <div class="heading">
    Beginner – 2
  </div>


    Progress to Adavus (steps) of increasing complexity, increased detail in theory.


  <div class="heading">
    Intermediate
  </div>

    Students at this level will complete adavu training and graduate to Alarippu/Koutuvams. In addition, they will continue advanced theory lessons.


  <div class="heading">
    Advanced - 1
  </div>


    Proceeding to expand the student’s repertoire by learning varied items, polish technique, improve strength and stamina. During this stage, students will perform their Salangai Pooja.
  
  
  <div class="heading">
    Advanced -2
  </div>
    This Arangetram-track class will focus on a complete repertoire, building stamina and strength and polishing technique. Students in this class will work towards their Arangetram in group and private lessons. Private Classes and Semi private classes are offered to students preparing for Arangetram.Morning Classes for adults will be available on request.
 
 
    <div class="heading">
    The Nrithya Sangama student guide and commitment:
  </div>
   
  
  It is recommended that Nrithya Sangama  students limit other extra-curricular activities to allow 30 minutes of practice every day. Students will be expected to reach a minimum standard and level before giving public performances.
    Commitment to regular practice and a quest for perfection are the keystones of students enrolled in Nrithya Sangama . Nrithya Sangama  students are encouraged to work towards a solo debut (Arangetram)/performance in order to fully explore and savor the complexity and beauty of this art form.
    Short term courses are also conducted for students from abroad and India. The duration of the short term course is generally 10 days and above. Advanced training program is of an intensive nature and requires the trainee to show total dedication, motivation and hard work.
  </div>