<div>
  <div class="contact-heading">
    Contact
  </div>
  <div>

    <div class="contact-content">
      <p class="name">Vidushi Snehalatha Prakash</p>
      <p>SSVR Camelian Elegant, A Block 304</p>
      <p>Immadihalli Main Road</p>
      <p>Whitefield</p>
      <p>Bangalore – 560 066</p>
      <p>Tel: +91 9967445354</p>
      <p>Email: snehalathaparakash@gmail.com</p>
      <p>Facebook page: www.facebook.com/NrithyaSangama</p>
    </div>


    <div class="contact-heading">Classes are conducted at:</div>
      <p>Ramadhama</p>
      <p>Next to Sri Veeranjaneya Temple</p>
      <p>Narayanappa Garden,Swasth Hospital,Whitefield,Bangalore-560066</p>
  </div>