<div style="padding:25px;">
  <img src="../assets/img/dance4.JPG" style="width:100%;">
</div>

<div style="padding:25px;">
    <img src="../assets/img/dance2.JPG" style="width:100%;">
  </div>

  
<div style="padding:25px;">
    <img src="../assets/img/dance3.JPG" style="width:100%;">
  </div>

  <div style="padding:25px;">
      <img src="../assets/img/dance5.JPG" style="width:100%;">
    </div>

    <div style="padding:25px;">
        <img src="../assets/img/dance6.JPG" style="width:100%;">
      </div>

      <div style="padding:25px;">
          <img src="../assets/img/dance7.JPG" style="width:100%;">
        </div>