
<div>
  <div class="heading">Nrithya Sangama dance academy founded by Preetha Arun provides personalized instruction for the serious student who aspires to excel in classical Bharatanatyam. 
    Dance lessons at Nrithya Sangama follow a comprehensive, well-rounded, immersive curriculum that places emphasis on quality and encourages the pursuit of excellence. 


    <div>
    The Bharatanatyam curriculum includes instruction in Indian Classical Dance theory and cultural history, fitness and body conditioning, and rigorous fundamental training and
     technique refinement.</div>
    
    </div>

    <div style="padding:25px;">
        <img src="../assets/img/nataraja-min.jpg" style="width:100%;">
      </div>
</div>